html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.empresas {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #365836;
    padding: 2rem;
}

.empresas-texto {
    color: #f3dbaf;
    font-size: 40px;
    width: 40%;
    margin: 0;
    padding: 15px;
    text-align: justify;
    margin-bottom: 10px;
    font-family: "DM Serif Display", serif;
    font-size: 30px;
    letter-spacing: 2px;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;
}

.content p {
    margin-bottom: 1.5rem;
    text-align: justify;
    transform: translateX(-20px);
    transition: all var(--transition-duration) ease-out;
    padding: 2rem;
    background: #8e6f5a51;
    border-radius: 15px;
    box-shadow: 0 2px 15px #2b2018e9;
    backdrop-filter: blur(5px);
    font-size: 1.25rem;
    grid-column: span 2;
    margin: -55px;
    color: #2a1d14;
}

footer.footer {
    background-color: #2b231b;
    color: #ddd;
    padding: 4rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: auto;
}

.seal-section {
    background: linear-gradient(135deg, #142b02 0%, #354e2a 100%);
    padding: 4rem;
    color: var(--primary-bg);
    margin-top: 0;
    transform: translateY(20px);
    transition: all var(--transition-duration) ease-out;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    width: 100%;
}

.footer-bottom {
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 1px solid rgba(229, 229, 229, 0.1);
    text-align: center;
    font-size: 0.9rem;
    color: rgba(229, 229, 229, 0.7);
    width: 100%;
    display: flex;
    justify-content: center;
}

.scroll-indicator {
    display: none;
}

.letter {
    padding: 20px;
    margin: 80px auto;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.apoie-aqui {
    width: max-content;
    background-color: white;
    color: #2b3c09;
    border: none;
    padding: 1rem 2.5rem;
    font-size: 23px;
    font-family: "Carlito", sans-serif;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    margin-block: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.apoie-aqui:hover {
    background-color: #8B9A46;
    color: white;
}